.items {
    background: #BE362D;
    height: 121px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links:hover {
    border-radius: 4px;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    color: white;
}

.nav-links {
    color: white;
    text-decoration: none;
}

.nav-links-mobile {
    display: none;
}

.fa-bars {
    color: #F8BC31;
    vertical-align: middle;
    margin-top: 15px;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .items {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 121px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: black;
        left: 0;
        opacity: 1;
        z-index: 1;
        transition: all 0.5s ease;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #3F3939;
        border-radius: 0;
        text-decoration: none;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 8px;
        width: 80%;
        background: #F8BC31;
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
    }

    .nav-links-mobile:hover {
        background: #3F3939;
        transition: 250ms;
    }

    Button {
        display: none;
    }

    .logo {
        vertical-align: middle;
    }

    .fa-times {
        margin-top: 15px;
    }
}

.logo {
    vertical-align: middle;
}